body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;
}

.searchbox {
    width: 90%;
    margin: 10px auto;
}

.header {
    background: #2C67B3;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.header h1 {
    text-transform: uppercase;
    color:white;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: 3px;
}

#value {
    border: none;
    background: #FFF6AB;
    padding: 6px;
    font-size: 18px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    color: rebeccapurple;    
}

.containerr {
    background: #f1f1f1;
    width: 90%;
    margin: 10px auto;
}

.profile {
    margin: 6px 9px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    background: #2c67b3;
    color: #f1f1f1;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: #333;
}